body {
  background-image: url("https://cdn.hipwallpaper.com/i/63/93/IBXo4y.jpg");
  margin-top: 50px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
